@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 2px solid steelblue;
  padding: 30px;
  border-radius: 7px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 2px solid gray;
  padding: 15px;
  border-radius: 4px;
}
.profile .username {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.change-profile-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.log-out {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.trash-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
  cursor: pointer;
}
.trash-btn > label {
  font-size: 10px;
}
.trash-brand-section {
  display: flex;
  align-items: flex-start;
}

.trash-btn:active {
  transform: scale(0.85);
}

.register-redirect {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.register-redirect .register-redirect-btn{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
}
.login-redirect {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.login-redirect .login-redirect-btn{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  border-left: 5px solid #f4f4f4 ;
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.deleted-task-reminder {
  border-left: 5px solid #ff0000;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-task-title {
  font-family: inherit;
  font-size: 20px;

  padding-left: 5px;
  color: green;
  font-weight: bold;
  background: #f4f4f4;
  border: 2px solid green;
  border-radius: 5px;
}
.edit-task-title:focus {
  outline: none !important;
  border:1px solid green;
  box-shadow: 0 0 10px green;
}



.add-task-form {
  margin-bottom: 40px;
  border: 1px solid green;
  padding: 15px;
  border-radius: 3px;
}

.form-control {
  margin: 0px 0px;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.disable-select {
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}

.edit-delete-save {
  display: flex;
  align-items: center;
}
.task-row-1 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}
.change-task > input {
  font-size: 16px;
  color: steelblue;
  font-weight: bold;
  background: #f4f4f4;
  border: 2px solid rgb(136, 181, 218);
  border-radius: 5px;
}

.edit-task-date:focus {
  outline: none !important;
  border:1px solid steelblue;
  box-shadow: 0 0 10px steelblue;
}

.change-task .save-btn {
  display: inline-block;
  background: rgb(40, 141, 236);
  color: #fff;
  border: none;
  padding: 0px 3px;
  margin-left: 85px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.change-profile-form {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 3px;
}